.techstack-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 4rem;
}

.tech-stack-text {
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  b {
    color: #c4473a;
  }
}
