:host {
  --icon-size: 1.33em;
  --horizontal-padding: .7em;
  --switch-width: 5em;
  --switch-height: 2.1em;
}

.switch {
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  position: relative;
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--horizontal-padding);
  align-items: center;
  background-color: #000000;
  border-radius: 1.8125rem;
  cursor: pointer;

  &::before {
    content: '';
    height: var(--icon-size);
    width: var(--icon-size);
    position: absolute;
    left: calc(var(--horizontal-padding) + (var(--icon-size) / 2));
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.4s all ease;
  }

  fa-icon {
    color:#ffffff;
    text-align: center;
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: calc(var(--icon-size) * 0.8);
    line-height: calc(var(--icon-size));
  }
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked + .toggle-thumb:before {
  transform: translateX(calc((var(--switch-width) - (var(--horizontal-padding) * 2)) - var(--icon-size) - 50%));
}
