@import url('./assets/fonts/fonts.scss');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  // global values
  --main-font-size: 16px;
  --text-color: #1d1d1d;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  font-family: 'Inter', sans-serif;
}