@import url('./assets/fonts/fonts.scss');

:root {
  // global values
  --main-font-size: 14px;
  --text-color: #000000;

  --horizontal-padding: 0 20rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  font-family: 'Lato', sans-serif;
}