@import url('./assets/fonts/fonts.scss');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  // global values
  --main-font-size: 16px;
  --text-color: #1d1d1d;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Pro', serif;
  font-weight: 200;
  line-height: 100%;
}

h1{
  font-size: 3rem;
  font-weight: 200;
}

h2{
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
