.navbar{
  padding: 1.875rem 0 3.125rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 600;

}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: normal;
  ul {
    display: flex;
    gap: 0.875rem;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: .5rem;
      a {
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
          color: #a8a8a8;
        }
      }
    }
  }

  .theme-switcher{

  }
}
