.navbar-logo {
  padding-bottom: 1.25em;
  img {
    height: 4.5rem;
  }
}

.site-description {
  padding: 1.25rem 0;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
  color: #484444;
}

.navbar-links {
  padding-top: 1.25rem;
  display: flex;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding-bottom: 0.625rem;
      a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
        transition: color 0.5s ease;
        &:hover {
          color: #a8a8a8;
        }
      }
    }
  }
}
