.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
}

.navbar-logo {
  height: 4rem;
}

.navbar-links a {
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  color: #333;
  &:hover {
    color: #555; /* Farbe nach Wahl */
  }
}
