<div class="home">
  <div class="banner-container">
    <div class="banner-text-container">
      <div class="name-container">
        <h1>Victor Odukoya</h1>
        <h2>Frontend Developer</h2>
      </div>
      <div class="description-container">
        Cras at pellentesque eros. Nullam vitae sapien et felis eleifend luctus. Nam ac dui cursus, efficitur ante sed,
        tempor sapien. Praesent nec mattis enim. Mauris a laoreet purus.
      </div>
      <!-- TODO: Turn this into a component-->
      <div class="skills-container">
        <div class="skill-card">
          <div class="skill-card-icon">
            <fa-icon [icon]="faLayerGroup"></fa-icon>
          </div>
          <div class="skill-card-text">
            <h2>Lorem ipsum dolor</h2>
            <p>Etiam sed vulputate nisl, eu elementum arcu. Vivamus dignissim tortor in tellus dictum pellentesque.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-card-icon">
            <fa-icon [icon]="faLayerGroup"></fa-icon>
          </div>
          <div class="skill-card-text">
            <h2>Simple & Clean Line of Code</h2>
            <p>Vivamus dignissim tortor in tellus dictum pellentesque. Praesent mauris metus, dictum quis velit non.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="banner-image">
        <img src="../../../../assets/images/desk.jpg" />
      </div>
    </div>
  </div>
</div>
