// TODO: Refactor this. nesting is kind of missing, use better class names... 
.home {
  width: 100%;
  padding-bottom: 5rem;
}

.banner-container {
  display: flex;
  gap: 3.5rem;
  padding-bottom: 1.5rem;
  > * {
    flex: 1;
  }

  .banner-text-container {
    padding: 2rem 0;
  }

  .name-container {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
  }

  .description-container {
    text-wrap: pretty;
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 3rem;
  }

  .banner-image {
    // square the image. no idea how this works: https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css
    position: relative;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.skills-container {
  background-color: #fff9ee;
  border-radius: 1rem;
  padding: 0 2rem;

  > *:not(:last-child) {
    border-bottom: 1px solid rgba(6, 28, 61, 0.12);
  }

  .skill-card {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    gap: 20px;
    .skill-card-icon {
      font-size: 1.6rem;
    }
  }

  .skill-card-text {
    h2 {
      font-weight: 500;
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
      color: #42526b;
    }
  }
}
