<div class="home">
  <div class="banner-container">
    <div class="banner-text-container">
      <div class="name-container">
        <h1>Victor Odukoya</h1>
        <h2><span>Frontend</span> Developer</h2>
      </div>
      <div class="description-container">
        Cras at pellentesque eros. Nullam vitae sapien et felis eleifend luctus. Nam ac dui cursus, efficitur ante sed,
        tempor sapien. Praesent nec mattis enim. Mauris a laoreet purus.
      </div>

      <app-skill-card-container>
        <app-skill-card
          [icon]="faLayerGroup"
          title="Lorem ipsum dolor"
          description="Etiam sed vulputate nisl, eu elementum arcu."
        ></app-skill-card>
        <app-skill-card
          [icon]="faLayerGroup"
          title="Simple & Clean Line of Code"
          description="Vivamus dignissim tortor in tellus dictum pellentesque."
        ></app-skill-card>
      </app-skill-card-container>
    </div>
    <div>
      <div class="banner-image">
        <img src="../../../../assets/images/desk.jpg" />
      </div>
    </div>
  </div>
  <app-tech-stack-banner></app-tech-stack-banner>
</div>
