.large-banner {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,34%);
    border-bottom: 1px solid rgba(0,0,0,34%);
    font-size: 15.2375rem;
    font-weight: bold;
    line-height: normal;
}