.large-banner {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    font-size: 6.2375rem;
    font-weight: bold;
    text-align: center;
    line-height: normal;
}