/* Quicksand (Variable Font) */
@font-face {
  font-family: 'Quicksand';
  src: url('./Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Crimson Pro (Normal) */
@font-face {
  font-family: 'Crimson Pro';
  src: url('./CrimsonPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Crimson Pro (Italic) */
@font-face {
  font-family: 'Crimson Pro';
  src: url('./CrimsonPro-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Inter (Normal) */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Inter (Italic) */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
