<div class="blog-post-card" [class]="size">
  <div class="thumbnail">
    <a [routerLink]="scullyRoute.route">
      <img [src]="scullyRoute.image" />
    </a>
  </div>
  <div class="blog-text-container">
    <div class="author-and-date">
      <span class="author">
        {{ scullyRoute.author }}
      </span>
      <span class="created-at">
        {{ scullyRoute.createdAt }}
      </span>
    </div>
    <div class="blog-title">
      <a [routerLink]="scullyRoute.route">
        {{ scullyRoute.title }}
      </a>
    </div>
    <div class="blog-description">
      <a [routerLink]="scullyRoute.route">
        {{ scullyRoute.description }}
      </a>
    </div>
    <div class="tags">
      <!--TODO Create Directive to get tag color -->
      <span *ngFor="let tag of scullyRoute.tags" class="tag">
        {{ tag }}
      </span>
    </div>
  </div>
</div>
